{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Late Pay Notice</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    {% block stylesheets %}
      <link href="../css/main.css" rel="stylesheet" />
    {% endblock %}

  </head>
  <body>
    <form>
      <div id="app" class="container box">
        <div class="content"> {% block content %} {% endblock %} </div>
      </div>
    </form>
  </body>
</html>
