{% extends 'base.html.twig' %}

{% block content %}

    <p style="font-size:1.3em">Dear <b>{{ dataObject.userName }}</b>, <br><br>
    Please find attached the over due invoice for services provided by CCNY's CORELABS.<br />
    <strong>Due date: {{dataObject.dueDate}}.</strong>  Summary listed below.
    </p>
    <p style="font-size:1.3em">If you have any questions, please contact CORELABS facilties at ph: ###### or email: ######
    </p>
    <br />

    <h2>Invoice Details</h2>
    <table style="width: 60%;border-style:solid;border-width:1px;">
      <thead>
        <tr >
            <th style="text-align:center;">Invoice Numbe</th>
            <th style="text-align:center;">Due Date</th>
            <th style="text-align:center;">Total Due($)</th>
            <th style="text-align:center;">Days OverDue</th>
            <th style="text-align:center;">Access Code</th>
            <!--th style="text-align:center;">Due Date</th-->
        </tr>
      </thead>
      <tbody>
            <tr>
                <td style="text-align:center; border-style:solid; border-width:0px;">
                    <a href=http://localhost:8080/latepay/{{dataObject.invoiceNumber}}>{{dataObject.invoiceNumber}}</a></td>
                <td style="text-align:center; border-style:solid; border-width:0px;">
                    {{dataObject.dueDate}}</td>
                <td style="text-align:center; border-style:solid; border-width:0px;">
                    {{dataObject.total}}</td>
                <td style="text-align:center; border-style:solid; border-width:0px;">
                    {{dataObject.daysOver}}</td>
                <td style="text-align:center; border-style:solid; border-width:0px;">
                    <a href="http://localhost:8080/latepay/{{dataObject.invoiceNumber}}">{{dataObject.accessCode}}</a></td>
            </tr></a>
      </tbody>
    </table>
    <br />
    <p style="font-size:1.3em">
      Click <a href="http://localhost/invoice/invoiceDetailsVue/Public/">HERE</a> to view complete usage details.
      Please use the access code:<strong>{{dataObject.accessCode}}</strong> when prompted
    </p>

    <p style="font-size:1.3em">Thank you for using CORELABS facilities,</p>

    <p style="font-size:1.3em">CCNY CORELABS team</p>

{% endblock %}
